@media screen and (max-width: 740px) {
    /* and (min-width: 400px) */
    .logo {
        width: 90px;
        height: 25px;
    }
    header {
        max-width: 740px;
    }
    header li .hBtn {
        width: 50px;
        font-size: 0.9em;
    }
    .editor-area {
        max-width: 740px;
        display: block;
    }
    .grid-container {
        width: 500px;
        margin-left: 10px;
    }
}