main {
    width: 1243px;
    height: 900px;
    border-radius: 10px;
    background-color: #383b42;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.img {
    width: 200px;
    height: 173px;
    border-radius: 10px;
    margin: 10px;
}